{% extends "base.html" %}

{% block title %}UI Design - Samy Barsoum{% endblock %}

{% block content %}
<div class="container py-5 text-center px-4">
  <h1 class="mb-3">Figma UI Prototype</h1>
  <p class="text-secondary mb-5">
    An interactive high-fidelity prototype designed in Figma.
    <br>Feel free to interact with the window below.
  </p>

  <div class="ratio ratio-16x9 border border-secondary rounded shadow-lg overflow-hidden">
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="100%" height="100%"
      src="https://embed.figma.com/design/VVEC7zpzJT7BRSBKX7YQbs/samy.b.2?embed-host=share" allowfullscreen>
    </iframe>
  </div>

  <div class="mt-5">
    <a href="{{ url_for('projects') }}" class="btn btn-outline-light rounded-pill">Back to Projects</a>
  </div>
</div>
{% endblock %}